lms_aws_access_key_id=
lms_aws_secret_access_key=
lms_AWS_TRANSCODER_PIPELINE_ID=
lms_AWS_PRESET_ID_360P=
lms_AWS_PRESET_ID_480P=
lms_AWS_PRESET_ID_720P=
lms_AWS_PRESET_ID_1080P=
lms_aws_region=
lms_aws_bucket=
lms_db=
lms_jwtPrivateKey=
lms_TWILIO_ACCOUNT_SID=
lms_TWILIO_AUTH_TOKEN=
lms_TWILIO_PHONE_NUMBER=
lms_CLIENT_DOMAIN=http://localhost:3000
lms_FRONTEND_DOMAINS=http://localhost:3000, http://localhost:5173,http://192.168.0.191:3000,https://regular-kangaroo-properly.ngrok-free.app,https://regular-kangaroo-properly.ngrok-free.app:443
PORT=9000
TEST_PHONE_NUMBERS=+91766636163
lms_SMTP_PASS=
lms_SMTP_FROM_EMAIL=
lms_SMTP_HOST=
lms_SMTP_PORT=
lms_SMTP_USER=
lms_EXPIRATION_TIME_MINUTES=
lms_EXCHANGE_RATE_API_KEY=
lms_STRIPE_SECRET_KEY=
lms_STRIPE_PUBLISHABLE_KEY= 
lms_STRIPE_WEBHOOK_SECRET=
lms_AWS_MEDIACONVERT_ENDPOINT=
lms_AWS_MEDIACONVERT_QUEUE=
lms_AWS_MEDIACONVERT_ROLE=
lms_AWS_HLS_DESTINATION=
lms_OPENAI_API_KEY=
GOOGLE_CLIENT_ID_WEB=
GOOGLE_CLIENT_SECRET_WEB=
